<h1>Sessions</h1>

<form phx-submit="create_session">
  <input type="text" name="name" placeholder="Session Name" required>
  <button class="btn" type="submit">Create Session</button>
</form>
<br>
<ul>
  <%= for {id, name, _participants, _topics, _, _} <- @sessions do %>
    <li>
      <.link href={~p"/sessions/#{id}"}>
        <%= name %>
      </.link>
    </li>
  <% end %>
</ul>
